#
#   Git Repo Preservation Project (GRPP)
#   Created by Juliana (@julianaheartz.bsky.social)
#   .gitignore
#

# Project folders
App/
test/
Build/
node_modules/

# General files
grpp_settings.json
grpp_fetch_res.txt