#
#   Git Repo Preservation Project (GRPP)
#   Created by Juliana (@julianaheartz.bsky.social)
#   .gitignore
#

# IDE folders
.vscode/

# Project folders
App/
test/
Build/
node_modules/

# GRPP Folders
.temp/
logs/
repos/

# General files
res.txt
skip.txt
grpp_settings.json
grpp_fetch_res.txt
old_grpp_settings.json