#
#   Git Repo Preservation Project (GRPP)
#   Created by TheMitoSan (@themitosan.bsky.social)
#
#   .gitignore
#

# IDE folders
.vscode/

# Project folders
App/
test/
Build/
node_modules/

# GRPP Folders
.temp/
logs/
repos/

# General files
*.txt
*.tgz
grpp.js
grpp_settings.json